@import '../../styles/colors.scss';

.Services {
  flex: 1 0 0;
  display: flex;
  flex-flow: column nowrap;
}

.container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  max-width: 640px;
  height: 100%;
  gap: 30px;
  padding: 20px;

  box-sizing: border-box;
  text-align: start;

  &Section {
    display: flex;
    flex-flow: column nowrap;
  }
}

.labelTitle {
  align-self: center;
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: bold;
}

.labelHeader {
  display: flex;
  align-items: center;
  gap: 8px;

  color: $color-focus;
  font-size: 16px;
  font-weight: bold;
}

.labelParagraph {
  text-indent: 20px;
}

.list {
  margin-left: 0px;
}
