.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  @media screen and (max-width: 700px) {
    padding: 20px;
  }
}

.labelTitle {
  padding-top: 12px;

  color: #d8d8d8;
  font-family: 'BadScript', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 32px;

  @media screen and (max-width: 700px) {
    padding-top: 8px;
  }
}

.tabs {
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.tab {
  height: 60px;
}

.iconButtonMenu {
  @media screen and (min-width: 700px) {
    display: none;
  }
}
