.container {
  &Actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &Body {
    padding: 0 20px 14px 20px;
  }

  &Title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}
